<% @story_pages.each do |story_page| %>
  <% @next_story_page = story_page.next %>
  <div class="contend" id="<%=story_page.nome%>">
    <ul>
      <li style="width:<%=story_page.left_width%>px; background:url(<%=story_page.left.url%>) no-repeat center right;"></li>
      <li class="main" style="width:<%=story_page.main_width%>px; background:url(<%=story_page.main.url%>) no-repeat center center;">
        <%=story_page.titulo%>
      </li>
      <li style="width:<%=story_page.right_width%>px; background:url(<%=story_page.right.url%>) no-repeat left center;"></li>
    </ul>

    <div class="desc">
      <h1><%=story_page.titulo%></h1>
      <span>---------------------------</span>
      <p><%=story_page.desc%></p>

      <% unless @next_story_page.nil? %>
        <a href="#<%=@next_story_page.nome%>" title="Continue" class="play">Continue...</a>
      <% end %>
    </div>
  </div>
<% end %>